name: Ci-Build

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
          with:
              node-version: 24
      - run: npm i
      - run: npm run mcaddon
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Aerell NPC Add-on
          path: dist/packages/